<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <h1>
    <%= locals.title %>
  </h1>
  <% if (locals.title==="Sign Up" ) { %>
    <form class="" action="" method="POST">
      <div class="">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="fname">
      </div>
      <div class="">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="lname">
      </div>
      <div class="">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="">
        <label for="pw">Password</label>
        <input type="password" id="pw" name="password">
      </div>
      <button type="submit">Sign Up</button>
    </form>
    <% } else { %>
      <form class="" action="" method="POST">
        <div class="">
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
        </div>
        <div class="">
          <label for="pw">Password</label>
          <input type="password" id="pw" name="password">
        </div>
        <button type="submit">Sign In</button>

      </form>
      <% } %>
</body>

</html>
